<ion-header>

  <ion-navbar>
    <ion-title>SET SETTINGS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-wrap>



  <ion-list>

      <ion-item (click)="clickPersonalize()">
          <ion-icon name="code-working" item-start></ion-icon>
            <div ion-text color="dark">Personalize Set</div>
        </ion-item>

    <ion-item (click)="clickAddCards()">
      <ion-icon name="add" item-start></ion-icon>
      <div ion-text color="dark">Add Cards</div>
    </ion-item>

    <ion-item (click)="clickResetCards()">
        <ion-icon name="undo" item-start></ion-icon>
        <div ion-text color="dark">Reset Cards</div>
      </ion-item>

    <ion-item (click)="clickDeleteCards()">
      <ion-icon ion-text color="danger" name="trash"  item-start></ion-icon>
      <div ion-text color="danger" *ngIf="!delete">Delete Cards</div>
      <div ion-text color="danger" *ngIf="delete">Finish Deleting</div>
    </ion-item>

    <ion-item (click)="clickDeleteSet()">
        <ion-icon ion-text color="danger" name="alert" item-start></ion-icon>
        <div ion-text color="danger">Delete Set</div>
      </ion-item>

  </ion-list>

</ion-content>
