<ion-header>

  <ion-navbar hideBackButton>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="arrow-back" class="back" (click)="goBack()"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-title class="notHome">EXAMPLE SET</ion-title>
        </ion-col>
        <ion-col>
          <ion-icon name="more" class="settings" (click)="goToPopOver()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card *ngIf="cards.length == 0">
        <ion-card-content>
          <div>
            Press the (...) and add cards to get started 
          </div>

        </ion-card-content>
      </ion-card>

    <ion-card *ngFor="let card of cards" (click)="clickCard()">
        <ion-card-content>

          <div>
            <ion-list inset>
              <ion-item text-center text-wrap><div ion-text color="dark">{{card.front}}</div></ion-item>
              <ion-item text-center text-wrap><div ion-text color="dark">{{card.back}}</div></ion-item>
              <button ion-button full color="danger" *ngIf="delete" (click)="clickDelete(card)">Delete</button>
            </ion-list>
          </div>

        </ion-card-content>
      </ion-card>

    <ion-item *ngIf="edit">TEXT TEST</ion-item>

</ion-content>